---
layout: default
title: CS 2316 - Fall 2016
---

<h1>Fall 2016</h1>

<h2>Weekly Schedule</h2>

<p>Lectures: Mondays, Wednesdays, Fridays 14:05 - 14:55 in CULC 144</p>
<p>Recitations: Thursdays</p>
<ul>
  <li>A1: 16:35 - 17:55 in Bunger-Henry 380</li>
  <li>A2: 18:05 - 19:25 in Instr Center 205</li>
  <li>A3: 16:35 - 17:55 in Molecular Sciences & Engr 1222</li>
  <li>A4: 18:05 - 19:25 in College of Computing 101</li>
  <li>A5: 16:35 - 17:55 in Mason 3133</li>
  <li>A6,GR: 18:05 - 19:25 in Instr Center 213</li>
</ul>

<h2>Lecture Schedule</h2>

<p>
  Topics link to slides, where available.
</p>

<p>ITCS means <a href="http://interactivepython.org/runestone/static/thinkcspy/toc.html">Interactive Think CS Textbook</a> - awesome resource!</p>
<p>IP means <a href="http://shop.oreilly.com/product/0636920028659.do">Introducting Python</a></p>
<p>TP means Think Python, 2nd Edition, by Allen B. Downey, O'Reilly Media, December 2015. Available free at <a href="http://greenteapress.com/wp/think-python-2e/">http://greenteapress.com/wp/think-python-2e/</a> and from O'Reilly at <a href="http://shop.oreilly.com/product/0636920045267.do">http://shop.oreilly.com/product/0636920045267.do</a></p>

<div class="table-responsive">
  <table class="table table-bordered table-hover">

    <tr class="table-header active">
      <th>Date</th>
      <th>Topics</th>
      <th>Reading and Resources</th>
      <th>Reminders</th>
    </tr>
    {% for row in table %}
    {% if "internal_header" in row %}
    <tr class="active"><td colspan="4">{{row["internal_header"]}}</td></tr>
    {% else %}
    <tr>
      <td>{{row["date"]}}</td>
      <td>{{(row["topic"]|markdown).replace("<p>","").replace("</p>","")}}</td>
      <td>
        {% for item in row["materials"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["materials"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
      <td>
        {% for item in row["reminders"][:-1] %}
        {{(item|markdown).replace("<p>","").replace("</p>","")}}<br/>
        {% endfor %}
        {{(row["reminders"][-1]|markdown).replace("<p>","").replace("</p>","")}}
      </td>
    </tr>
    {% endif %}
    {% endfor %}
  </table>
</div>
